div {

    margin-left: 5px;
    margin-right: 5px;
    margin-top: 30px;
  



    ion-title {
        
        font-size: 25px;
        text-align: left;  

    }

    ion-img {
        width: 70px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }

    ion-item {
        margin: 20px auto;
        --ion-safe-area-right: 20px;
 

    }

    .passBtn {
        width: 200px;
        display: block;
        margin:auto;
        margin-top: 30px;
        height: 45px;
        background-color: #00ffb3;
        border-radius: 8px;


    }

    .goLoginBtn {
        border-radius: 60px;
        width: 200px;
        height: 45px;
        font-size: 15px;
        margin:auto;


    }

    ion-input {
        border-radius: 8px;
        background-color: hsl(0, 0%, 90%);
        text-indent: 10px;


    }


    ion-toolbar {
        --background: transparent;
        --ion-color-base: transparent !important;
        margin-top: 20px;
        max-width: 100%;
        padding-left: 10px;

    }



    ion-text {

        font-size: 15px;
        color: black;
        font-weight: 550;
        text-align: center !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;


    }

    ion-spinner {
        color: #00ffb3;
        display: block;
        margin: auto;
   

    }

}