<ion-header>
  <ion-toolbar>
    <ion-title>Forgot password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [formGroup]="forgotPasswordForm" class="form">
  <ion-label>Username</ion-label>
    <ion-item class="form__input">
      <ion-input 
        formControlName="username">
      </ion-input>
    </ion-item>
    
      <!--Prevent the user also from clicking when action has been submited-->
    <ion-button 
      [disabled]="forgotPasswordForm.invalid || (loading$|async)" 
      expand="block"
      size="large"
      (click)="sendRecovery()"
      class="form__button">
      <ion-spinner *ngIf="loading$|async; else text"></ion-spinner>
      <ng-template #text>
        <ion-text>Send recovery</ion-text>
      </ng-template>
    </ion-button>

  <ion-item lines="none">
    <ion-button 
      fill="clear" 
      [routerLink]="['/login']">Go to login
    </ion-button>
  </ion-item>
</ion-content>
