<ion-content [formGroup]="form">

  <div>
    <ion-img src="https://coara.co/assets/logo/coara.svg"></ion-img>

    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-title slot="start">Forgot password</ion-title>
      </ion-toolbar>
    </ion-header>


    <ion-item lines="none" fill="outline">
      <ion-label position="stacked">Username</ion-label>
      <ion-input formControlName="username"></ion-input>
    </ion-item>


    <ion-item *ngIf="(loading$ | async)" class="spinner-container" lines="none">
      <ion-spinner name="circular"></ion-spinner>
    </ion-item>
    <ion-toast></ion-toast>


    <ion-item lines="none">
      <ion-button class="passBtn" color="#00ffb3" fill="solid" [disabled]="!form.value.username"
        (click)="onSubmit()">
        <ion-text>Change password</ion-text>
      </ion-button>
    </ion-item>


    <ion-item lines="none">
      <ion-button class=goLoginBtn fill="solid" [routerLink]="['/login']">Go to login</ion-button>
    </ion-item>



  </div>
</ion-content>