<ion-img id="login-logo" src="https://coara.co/assets/logo/coara.svg"></ion-img>

<ion-title id="login-title">Forgot Password</ion-title>

<ion-content [formGroup]="forgottenForm">
  <ion-label class="label-on-input">
    Email
  </ion-label>
  <ion-item class="roundedInput">
    <ion-input formControlName="username"></ion-input>
  </ion-item>
  <ion-button expand="block" id="login-button" [disabled]="forgottenForm.invalid" (click)="setLoading()">
    <ion-spinner *ngIf="loading$|async; else text"></ion-spinner>
    <ng-template #text><ion-text>Send help</ion-text></ng-template>
  </ion-button>
  <ion-button id="login-button-forgot" expand="block" fill="clear" [routerLink]="['/login']">
    Go to login
  </ion-button>
</ion-content>