$base-bgcolor: #ffffff;
$base-color: #000000;
$base-font-weight: 300;
$base-font-size: 1rem;
$base-line-height: 1.5;
$base-font-family: Arial Helvetica;
$base-font-family-fallback: sans-serif;


.distance{
    padding-right: 10% !important;
    margin-right: 10% !important;
}

.fa{
    position: absolute;
    right: 0%;
    padding: 3%
}
.fa-eye-slash:hover,
.fa-eye:hover {cursor: pointer;}

html {height: 100%;}

body {
  background-color: $base-bgcolor;
  color: $base-color;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family, $base-font-family-fallback;
  margin: 0;
  min-height: 100%;
}

.align {
  align-items: center;
  display: flex;
  flex-direction: row;
  &__item {
    &--start {
      align-self: flex-start;
    }
    &--end {
      align-self: flex-end;
    }
  }
}

.site {
  &__logo {
    margin-bottom: 2rem;
    position: relative;
    left:35%
  }
}

input {
  border: 0;
  font: inherit;
}

.form {
  &__field {
    margin-bottom: 1rem;
  }
  input {
    outline: 0;
    padding: .5rem 1rem;

    &[type="email"],
    &[type="password"] {
      width: 100%;
    }
  }
}
$grid-max-width: 25rem;
$grid-width: 100%;

.grid {
  margin: 0 auto;
  max-width: $grid-max-width;
  width: $grid-width;
}

.link {
  color: #7affd7;
  text-decoration: underline;
  font-size: 0.75rem;
  text-align: center;
}

.register {
background-color: #fafafa;
  text-align: left;
  padding: 4rem 2rem;
  .submitclass{
    text-align: center;
  }
  .iconbutton{
    color: rgb(0, 0, 0);
    text-decoration: solid;
    font-size: 1em;
  }
  .textbutton{
    color: rgb(0, 0, 0);
    text-decoration: solid;
    font-size: 1em;
  }
}

ion-title {
    padding-left: 0%;
    font-size: 1.75rem;
    font-weight: 100;
    margin: 0 0 1rem;
}
ion-label{
  font-size: 0.75rem;
}

ion-button{
  --background: #00ffb3 !important;
  --color:black;
  --border-radius: 100px;
  width: 85%;
  --padding-top: 8%;
  --padding-bottom: 8%;
  margin-bottom: 5%;
}

ion-input {
  border-radius: 15px;
  background-color: #e0e0e0;
  &[type="email"],
  &[type="password"] {
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: 1rem 50%;
  }
}
ion-icon {
  font-size: 1.75rem;
  color: hsl(0deg 0% 30%);
}

