<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [formGroup]="form">
  <div>
    <ion-img src="https://coara.co/assets/logo/coara.svg"></ion-img>

    <ion-item lines="none" fill="outline">
      <ion-label position="floating">Username</ion-label>
      <ion-input formControlName="username"></ion-input>
    </ion-item>

    <ion-item lines="none" fill="outline">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button (click)="login()">
      <ion-text>Login</ion-text>
    </ion-button>

    <ion-button fill="clear">I forgot my password</ion-button>
  </div>
</ion-content>
