
<body class="align">

  <div class="grid align__item">

    <div class="register">

      <img class="site__logo" width="100"  viewBox="77.7 214.9 274.7 412" src="../../../assets/icon/icon.png">

      <ion-title ><b>Login</b></ion-title>

      <form  [formGroup]="form" action="" method="post" class="form">

        <div class="form__field">
          <ion-label>Email</ion-label>
          <ion-input type="email" formControlName="username"></ion-input>
        </div>

        <div class="form__field">
          <ion-label>Password</ion-label>
          <ion-input class="distance" [type]="fieldTextType ? 'text' : 'password'" formControlName="password">
            <ion-icon class="fa" (click)="toggleFieldTextType()" [name]="fieldTextType ? 'eye-outline' : 'eye-off'" ></ion-icon>    
          </ion-input>
       
        </div>

  
        <div class="submitclass"> 
          <ion-button type="submit" [disabled]="form.invalid" (click)="login()">
            <ion-spinner *ngIf="loading$|async; else text"></ion-spinner>
            <ng-template #text><ion-text class="textbutton"><b><ion-icon class="iconbutton" name="exit-outline"></ion-icon> Login</b></ion-text></ng-template>
          </ion-button>
        </div>


      </form>

      <p class="submitclass"><b>Forgot your password?</b></p>
      <p class="link"><b>Be an early adopter</b></p>

    </div>

  </div>

</body>
